<html ng-app>
<head>
<base href="http://localhost:8080/AngularDemo/">
<script src="UI/common/js/angular.js"></script>
<script src="UI/cart/js/controller/cartController.js"></script>
<script src="UI/cart/js/controller/optController.js"></script>
<script src="UI/cart/js/controller/bestController.js"></script>
<title>Your Shopping Cart</title>
</head>
<div ng-controller='CartController'>
	<h1>Your Order (using normal watch with bad performance, call
		totalCart() for too many times)</h1>
	<div ng-repeat='item in items'>
		<span>{{item.title}}</span> <input ng-model='item.quantity'> <span>{{item.price
			| currency}}</span> <span>{{item.price * item.quantity | currency}}</span>
		<button ng-click="remove($index)">Remove</button>
	</div>
	<div>Total: {{totalCart() | currency}}</div>
	<div>Discount: {{discount | currency}}</div>
	<div>Subtotal: {{subtotal() | currency}}</div>
</div>


<div ng-controller='optController'>
	<h1>Your Order (using optimized watch with good performance, but will copy items when page loaded by angular)</h1>
	<div ng-repeat='item in items'>
		<span>{{item.title}}</span> <input ng-model='item.quantity'> <span>{{item.price
			| currency}}</span> <span>{{item.price * item.quantity | currency}}</span>
		<button ng-click="remove($index)">Remove</button>
	</div>
	<div>Total: {{bill.total | currency}}</div>
	<div>Discount: {{bill.discount | currency}}</div>
	<div>Subtotal: {{bill.subtotal | currency}}</div>
</div>

<div ng-controller='bestController'>
	<h1>Your Order (watch bill by calc the bill)</h1>
	<div ng-repeat='item in items'>
		<span>{{item.title}}</span> <input ng-model='item.quantity'> <span>{{item.price
			| currency}}</span> <span>{{item.price * item.quantity | currency}}</span>
		<button ng-click="remove($index)">Remove</button>
	</div>
	<div>Total: {{bill.total | currency}}</div>
	<div>Discount: {{bill.discount | currency}}</div>
	<div>Subtotal: {{bill.subtotal | currency}}</div>
</div>

</html>